<article>
  <a href="#">
    <img src="/images/house.webp" alt="An image of a terraced house" />
    <div class="card-content">
      <h3>Sold house prices</h3>
      <p>
        Check what a home sold for plus photos, floorplans and local area
        insights.
      </p>
    </div>
    <div class="link-content">
      <p>Search house prices</p>
      <svg
        width="24"
        height="24"
        viewbox="0 0 24 24"
        fill="none"
        aria-hidden="true"
      >
        <path
          d="M14.7071 18.7071L20.7071 12.7071C21.0976 12.3166 21.0976 11.6834 20.7071 11.2929L14.7071 5.29289L13.2929 6.70711L17.5858 11H4C3.44771 11 3 11.4477 3 12C3 12.5523 3.44771 13 4 13H17.5858L13.2929 17.2929L14.7071 18.7071Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
  </a>
</article>
