<header>
  <nav>
    <div class="mobile-menu">
      <img src="/images/menu.svg" alt="navigation menu" />
    </div>

    <a href="#" class="logo">
      <h1>Your<span class="logo-alt-text">Move</span></h1>
    </a>

    <ul class="nav-items">
      <li>
        <a href="#">Buy</a>
      </li>
      <li>
        <a href="#">Rent</a>
      </li>
      <li>
        <a href="#">House Prices</a>
      </li>
      <li>
        <a href="#">Find Agent</a>
      </li>
      <li>
        <a href="#">Commerical</a>
      </li>
      <li>
        <a href="#">Inspire</a>
      </li>
      <li>
        <a href="#">Overseas</a>
      </li>
    </ul>

    <div class="nav-button-container">
      <button>Sign In</button>
      <img
        class="account-button"
        src="/images/account.svg"
        alt="Account button"
      />
    </div>
  </nav>
</header>
