
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    font-size: 16px;
    margin: 0 96.5px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.logo {
    color: var(--deep-blue);
    font-size: 1.25rem;
    padding: 13px 8px 13px 38px;
    text-decoration: none;
}

.logo-alt-text {
    color: var(--bright-teal);
}

.nav-items {
    display: flex;
    flex-flow: nowrap;
    column-gap: 24px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: var(--deep-blue);
    font-weight: 400;
}

button {
    border: 2px solid var(--bright-teal);
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    display: block;
}

.account-button {
    width: 50px;
    display: none;
    cursor: pointer;
}

.menu-button {
    display: none;
}

.nav-button-container {
    display: flex;
    flex-flow: nowrap;
}

@media (max-width: 1200px) {
    nav {
        margin: 0 20px;
    }
}

@media (max-width: 1069px) { 
    .nav-items {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    button {
        display: none;
    }

    .account-button {
        display: block;
    }

}