<section class="tools-section">
  <div class="tools-container">
    <img
      src="/images/magnifying-glass.svg"
      alt="A vector image of a magnifying glass"
    />
    <h3>Free home valuations</h3>
    <p>Find out how much your home's worth from an expert</p>
    <a href="#">
      <span class="tools-link-content">Get a free agent valuation</span>
    </a>
  </div>
  <div class="tools-container">
    <img src="/images/building.svg" alt="A vector image of a building" />
    <h3>Commercial property</h3>
    <p>Search freehold and leasehold commercial properties in the UK</p>
    <a href="#">
      <span class="tools-link-content">Search now</span>
    </a>
  </div>
  <div class="tools-container">
    <img src="/images/bulb.svg" alt="A vector image of a light bulb" />
    <h3>Energy efficiency</h3>
    <p>Check a home's energy rating and find out how to improve it</p>
    <a href="#">
      <span class="tools-link-content">Learn more</span>
    </a>
  </div>
</section>
