@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Colours */
:root {
    --deep-blue: #262637;
    --bright-teal: #00DEB6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}



