.hero-search {
    background-color: #000433;
    padding: 24px;
    border-radius: 16px;
    margin: 40px 166px;
    height: 140px;
    max-width: 750px;
    width: 750px;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
}

.hero-search p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 28px;
    margin-block-end: 16px;
    margin-bottom: 16px;
}

.hero-search form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-search input {
    width: 466px;
    border-radius: 8px;
    border: 1px solid rgb(136, 138, 154);
    columns: var(--deep-blue);
    font-weight: 400;
    height: 48px;
    letter-spacing: 0.1px;
    line-height: 24px;
    padding-block: 12px;
    padding: 12px 16px;
    padding-inline: 16px;
}

.hero-search button {
    border-radius: 8px;
    border: 2px solid var(--bright-teal);
    background-color: var(--bright-teal);
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    letter-spacing: 0.1px;
    line-height: 24px;
    min-width: 100px;
    overflow: hidden;
    padding-inline: 16px;
    width: 100px;
}

.hero-search-container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
